# RuboCop の基本設定ファイル

require: rubocop-performance

########################################
# Bundler Cops: Gemfile 用の設定
#   - RuboCop のデフォルト設定に従う
########################################


########################################
# Layout Cops
########################################

# end の位置は、Block の開始レベルに合わせる
#   - Block の Scope がわかりやすくなる
#
#   RuboCop Docs: https://docs.rubocop.org/rubocop/cops_layout.html#layoutblockalignment
#
Layout/BlockAlignment:
  EnforcedStyleAlignWith: start_of_block

# クラス内の要素定義順を、Style Guide の推奨順に強制する
#   - 迷いがちなので、強制されたほうが楽
#
#   Style Guide: https://rubystyle.guide/#classes-modules
#   RuboCop Docs: https://docs.rubocop.org/rubocop/cops_layout.html#layoutclassstructure
#
Layout/ClassStructure:
  Enabled: true

# メソッド定義終了の end の位置は、def の開始レベルに合わせる
#   - メソッドの Scope がわかりやすくなる
#
#   RuboCop Docs: https://docs.rubocop.org/rubocop/cops_layout.html#layoutdefendalignment
#
Layout/DefEndAlignment:
  AutoCorrect: true
  EnforcedStyleAlignWith: def

# AttributeAccessor の定義の前後には空行を入れる
#   - NOTE: from 0.83
#
#   Style Guide: https://rubystyle.guide/#empty-lines-around-attribute-accessor
#   RuboCop Docs: https://docs.rubocop.org/rubocop/cops_layout.html#layoutemptylinesaroundattributeaccessor
#
Layout/EmptyLinesAroundAttributeAccessor:
  Enabled: true

# end の位置は、if,class などキーワードの開始レベルに合わせる
#   - Scope がわかりやすくなる
#   - NOTE: AutoCorrect を有効化
#
#   RuboCop Docs: https://docs.rubocop.org/rubocop/cops_layout.html#layoutendalignment
#
Layout/EndAlignment:
  AutoCorrect: true

# 複数行の配列の第1要素の改行時のインデントは、1レベルのみ下げる：
#   - 1行あたりの長さを抑えたい
#   - Hashのルールに合わせる
#
#   RuboCop Docs: https://docs.rubocop.org/rubocop/cops_layout.html#layoutfirstarrayelementindentation
#
Layout/FirstArrayElementIndentation:
  EnforcedStyle: consistent

# 複数行の配列の第1要素は必ず改行後に書く：
#   - Hash、メソッド引数のルールに合わせる
#
#   RuboCop Docs: https://docs.rubocop.org/rubocop/cops_layout.html#layoutfirstarrayelementlinebreak
#
Layout/FirstArrayElementLineBreak:
  Enabled: true

# 複数行のHashの第1要素の改行時のインデントは、1レベルのみ下げる：
#   - 1行あたりの長さを抑えたい
#   - 配列のルールに合わせる
#
#   RuboCop Docs: https://docs.rubocop.org/rubocop/cops_layout.html#layoutfirsthashelementindentation
#
Layout/FirstHashElementIndentation:
  EnforcedStyle: consistent

# 複数行のHashの第1要素は必ず改行後に書く：
#   - 配列、メソッド引数のルールに合わせる
#
#   RuboCop Docs: https://docs.rubocop.org/rubocop/cops_layout.html#layoutfirsthashelementlinebreak
#
Layout/FirstHashElementLineBreak:
  Enabled: true

# メソッド引数が複数行に渡る場合、第1引数は必ず改行後に書く：
#   - 配列、Hashのルールに合わせる
#
#   RuboCop Docs: https://docs.rubocop.org/rubocop/cops_layout.html#layoutfirstmethodargumentlinebreak
#
Layout/FirstMethodArgumentLineBreak:
  Enabled: true

# メソッド引数の定義が複数行に渡る場合、第1引数は必ず改行後に書く：
#   - 配列、Hashのルールに合わせる
#
#   RuboCop Docs: https://docs.rubocop.org/rubocop/cops_layout.html#layoutfirstmethodparameterlinebreak
#
Layout/FirstMethodParameterLineBreak:
  Enabled: true

# HashのKey, Valueの揃え方：
#   - Key, Value ともに頭を揃える
#
#   RuboCop Docs: https://docs.rubocop.org/rubocop/cops_layout.html#layouthashalignment
#
Layout/HashAlignment:
  EnforcedColonStyle: table
  EnforcedHashRocketStyle: table

# メソッド引数に Heredoc が含まれる場合、メソッド引数の閉じ括弧はHeredocの開始よりも前に書く
#
#   Style Guide: https://rubystyle.guide/#heredoc-argument-closing-parentheses
#   RuboCop Docs: https://docs.rubocop.org/rubocop/cops_layout.html#layoutheredocargumentclosingparenthesis
#
Layout/HeredocArgumentClosingParenthesis:
  Enabled: true

# 1 行あたりの最大文字数を120文字とする。
#   - RuboCop のデフォルト（> 0.84.0）に合わせる
#
#   Style Guide: https://rubystyle.guide/#80-character-limits
#   RuboCop Docs: https://docs.rubocop.org/rubocop/cops_layout.html#layoutlinelength
#
Layout/LineLength:
  Max: 120

# メソッド呼び出しを複数行に渡りChainする場合、メソッドの呼び出しはレシーバーよりインデントを1レベル下げる
#   - インデントしない場合、行継続かどうかがパッと見でわかりづらい
#
#   RuboCop Docs: https://docs.rubocop.org/rubocop/cops_layout.html#layoutmultilinemethodcallindentation
#
Layout/MultilineMethodCallIndentation:
  EnforcedStyle: indented_relative_to_receiver

# if, return 等の引数を複数行に渡って書く場合、2行目以降のインデントを1レベル下げる
#   - 同上
#
#   RuboCop Docs: https://docs.rubocop.org/rubocop/cops_layout.html#layoutmultilineoperationindentation
#
Layout/MultilineOperationIndentation:
  EnforcedStyle: indented

# メソッド呼び出し時に、.とメソッド名の間にスペースを入れない
#   - NOTE: from 0.82
#
#   RuboCop Docs: https://docs.rubocop.org/rubocop/cops_layout.html#layoutspacearoundmethodcalloperator
#
Layout/SpaceAroundMethodCallOperator:
  Enabled: true

# 行末のスペースを許可しない
#   - NOTE: Heredoc の中でも許可しない（Markdownなどを書くときは magic comment で個別に disable する）
#
#   RuboCop Docs: https://docs.rubocop.org/rubocop/cops_layout.html#layouttrailingwhitespace
#
Layout/TrailingWhitespace:
  AllowInHeredoc: false


########################################
# Linting Cops:
#   - バグになりやすい書き方、Deprecated なメソッドの呼び出しなど→基本的に有効化する
########################################

# 空の ensure 節は書かない
#   - NOTE: AutoCorrect を有効化
#
#   RuboCop Docs: https://docs.rubocop.org/rubocop/cops_lint.html#lintemptyensure
#
Lint/EmptyEnsure:
  AutoCorrect: true

# Heredoc で定義したStringのメソッドを呼び出す際は、Heredocの開始よりも前に書く
#
#   RuboCop Docs: https://docs.rubocop.org/rubocop/cops_lint.html#lintheredocmethodcallposition
#
Lint/HeredocMethodCallPosition:
  Enabled: true

# Exception クラスを直接継承しない
#   - TODO: Exception の継承を見つけた場合、デフォルトだと RuntimeError を継承するよう提案される
#     - StndardError と、どちらがよいだろうか
#
#   RuboCop Docs: https://docs.rubocop.org/rubocop/cops_lint.html#lintinheritexception
#
Lint/InheritException:
  EnforcedStyle: standard_error

# Struct.newでStruct Classのbuilt-inメソッドを上書きしない
#   - NOTE: from 0.81
#
#   RuboCop Docs: https://docs.rubocop.org/rubocop/cops_lint.html#lintstructnewoverride
#
Lint/StructNewOverride:
  Enabled: true


########################################
# Metrics Cops
#   - コードの複雑性を検知するための指標→基本的に有効化する
########################################

# TODO: メソッドのABCサイズの最大は20とする
#   - ABCSize とは
#     - http://wiki.c2.com/?AbcMetric
#     - https://en.wikipedia.org/wiki/ABC_Software_Metric
#   - デフォルトの 15 は結構厳しいと RuboCop メンテナの koic さんも言ってる
#     - https://koic.hatenablog.com/entry/default-value-of-metrics-abc-size-is-hard
#
#   RuboCop Docs: https://docs.rubocop.org/rubocop/cops_metrics.html#metricsabcsize
#
Metrics/AbcSize:
  Enabled: true
  Max: 20

# Block の行数は25行までとする
#   - RuboCop のデフォルトに従う
#   - コメント行は含めない
#   - Refinement, RSpec の describe は対象外とする
#
#   RuboCop Docs: https://docs.rubocop.org/rubocop/cops_metrics.html#metricsblocklength
#
Metrics/BlockLength:
  Enabled: true
  CountComments: false
  IgnoredMethods:
    - class_methods
    - concern
    - describe
    - included
    - refine
  Max: 25

# Block のネストは最大3段までとする
#   - RuboCop のデフォルトに従う
#
#   Style Guide: https://rubystyle.guide/#three-is-the-number-thou-shalt-count
#   RuboCop Docs: https://docs.rubocop.org/rubocop/cops_metrics.html#metricsblocknesting
#
Metrics/BlockNesting:
  Enabled: true
  Max: 3

# Class の行数は100行までとする
#   - RuboCop のデフォルトに従う
#   - コメント行は含めない
#
#   RuboCop Docs: https://docs.rubocop.org/rubocop/cops_metrics.html#metricsclasslength
#
Metrics/ClassLength:
  Enabled: true
  CountComments: false
  Max: 100

# メソッドの循環的複雑度の最大は 8 とする
#   - 循環的複雑度とは
#     - 簡単には分岐数
#     - https://ja.wikipedia.org/wiki/%E5%BE%AA%E7%92%B0%E7%9A%84%E8%A4%87%E9%9B%91%E5%BA%A6
#   - 人間が読む上では事実上分岐ではない map などの高階関数もカウントされるため
#     デフォルトの 6 だと直感に反する指摘が入ることが多い
#
#   RuboCop Docs: https://docs.rubocop.org/rubocop/cops_metrics.html#metricscyclomaticcomplexity
#
Metrics/CyclomaticComplexity:
  Enabled: true
  Max: 8

# メソッドの行数は10行までとする
#   - RuboCop のデフォルトに従う
#   - コメント行は含めない
#
#   Style Guide: https://rubystyle.guide/#short-methods
#   RuboCop Docs: https://docs.rubocop.org/rubocop/cops_metrics.html#metricsmethodlength
#
Metrics/MethodLength:
  Enabled: true
  CountComments: false
  Max: 10

# Module の行数は100行までとする
#   - RuboCop のデフォルトに従う
#   - コメント行は含めない
#
#   RuboCop Docs: https://docs.rubocop.org/rubocop/cops_metrics.html#metricsmodulelength
#
Metrics/ModuleLength:
  Enabled: true
  CountComments: false
  Max: 100

# メソッドの引数は4つまでとする
#   - Style Guide に従う
#   - キーワード引数も含める
#
#   Style Guide: https://rubystyle.guide/#too-many-params
#   RuboCop Docs: https://docs.rubocop.org/rubocop/cops_metrics.html#metricsparameterlists
#
Metrics/ParameterLists:
  Enabled: true
  CountKeywordArgs: true
  Max: 4

# 見た目の複雑さ？スコアの最大は8とする
#   - RuboCop のデフォルトに従う
#
#   RuboCop Docs: https://docs.rubocop.org/rubocop/cops_metrics.html#metricsperceivedcomplexity
#
Metrics/PerceivedComplexity:
  Enabled: true
  Max: 8


########################################
# Migration Cops
#   - rubocop.yml 内で Namespace なしの古い Cop 名が指定されていた場合に警告する
########################################

Migration/DepartmentName:
  Enabled: true


########################################
# Naming Cops
#   - Class/Module/メソッド/変数などの命名規則
########################################

# メソッド名の prefix に get/set を使わない
#
#   Style Guide: https://rubystyle.guide/#accessor_mutator_method_names
#   RuboCop Docs: https://docs.rubocop.org/rubocop/cops_naming.html#namingaccessormethodname
#
Naming/AccessorMethodName:
  Enabled: true

# メソッド名に多バイト文字を使わない
#
#   Style Guide: https://rubystyle.guide#english-identifiers
#   RuboCop Docs: https://docs.rubocop.org/rubocop/cops_naming.html#namingasciiidentifiers
#
Naming/AsciiIdentifiers:
  Enabled: true

# Klass#+() Klass#eql?() などを定義する際の引数の名前には `other` を利用する
#
#   Style Guide: https://rubystyle.guide/#other-arg
#   RuboCop Docs: https://docs.rubocop.org/rubocop/cops_naming.html#namingbinaryoperatorparametername
#
Naming/BinaryOperatorParameterName:
  Enabled: true

# Block パラメータの命名規則
#   - 基本的に RuboCop のデフォルトに従う
#     - ただしパラメータ名末尾に数字を使うことは許可しない
#
#   RuboCop Docs: https://docs.rubocop.org/rubocop/cops_naming.html#namingblockparametername
#
Naming/BlockParameterName:
  Enabled: true
  AllowNamesEndingInNumbers: false
  MinNameLength: 1

# Class/Module 名は PascalCase (UpperCamelCase) で定義すること
#
#   Style Guide: https://rubystyle.guide/#camelcase-classes
#   RuboCop Docs: https://docs.rubocop.org/rubocop/cops_naming.html#namingclassandmodulecamelcase
#
Naming/ClassAndModuleCamelCase:
  Enabled: true

# Class/Module 名以外の定数は SCREAMENG_SNAKE_CASE で定義すること
#
#   Style Guide: https://rubystyle.guide/#screaming-snake-case
#   RuboCop Docs: https://docs.rubocop.org/rubocop/cops_naming.html#namingconstantname
#
Naming/ConstantName:
  Enabled: true

# ファイル名には snake_case を利用すること
#
#   Style Guide: https://rubystyle.guide/#snake-case-files
#   RuboCop Docs: https://docs.rubocop.org/rubocop/cops_naming.html#namingfilename
#
Naming/FileName:
  Enabled: true

# ヒアドキュメントのデリミタには UPPERCASE を利用すること
#
#   Style Guide: https://rubystyle.guide/#heredoc-delimiters
#   RuboCop Docs: https://docs.rubocop.org/rubocop/cops_naming.html#namingheredocdelimitercase
#
Naming/HeredocDelimiterCase:
  Enabled: true
  EnforcedStyle: uppercase

# ヒアドキュメントのデリミタに、`END`, `EO*` を利用しないこと
#   - RuboCop のデフォルトに従う
#
#   RuboCop Docs: https://docs.rubocop.org/rubocop/cops_naming.html#namingheredocdelimiternaming
#
Naming/HeredocDelimiterNaming:
  Enabled: true

# メモ用インスタンス変数の名前とメソッド名は一致させること
#   - ただしインスタンス変数側の prefix として `_` を使っても良い
#   - e.g.1)
#     ```
#     def foo
#       @foo ||= calculate_expensive_thing
#     end
#     ```
#   - e.g.2)
#     ```
#     def foo
#       @_foo ||= calculate_expensive_thing
#     end
#     ```
#
#   RuboCop Docs: https://docs.rubocop.org/rubocop/cops_naming.html#namingmemoizedinstancevariablename
#
Naming/MemoizedInstanceVariableName:
  Enabled: true
  EnforcedStyleForLeadingUnderscores: optional

# メソッド名は snake_case で定義すること
#
#   Style Guide: https://rubystyle.guide/#snake-case-symbols-methods-vars
#   RuboCop Docs: https://docs.rubocop.org/rubocop/cops_naming.html#namingmethodname
#
Naming/MethodName:
  Enabled: true
  EnforcedStyle: snake_case

# メソッド引数の命名規則
#   - RuboCop のデフォルトに従う
#     - ただし引数名末尾に数字を使うことは許可しない
#
#   RuboCop Docs: https://docs.rubocop.org/rubocop/cops_naming.html#namingmethodparametername
#
Naming/MethodParameterName:
  Enabled: true
  AllowNamesEndingInNumbers: false
  MinNameLength: 3

# 真偽値を返すメソッドの命名規則
#   - `is_`, `has_`, `have_` といった prefix は使わない
#   - Suffix として `?` を付与する
#
#   Style Guide: https://rubystyle.guide/#bool-methods-qmark
#   RuboCop Docs: https://docs.rubocop.org/rubocop/cops_naming.html#namingpredicatename
#
Naming/PredicateName:
  Enabled: true

# rescue した例外の、rescue 節内での変数名には e を利用する
#   - RuboCop のデフォルトに従う
#
#   RuboCop Docs: https://docs.rubocop.org/rubocop/cops_naming.html#namingrescuedexceptionsvariablename
#
Naming/RescuedExceptionsVariableName:
  Enabled: true
  PreferredName: e

# 変数名は snake_case で定義すること
#
#   Style Guide: https://rubystyle.guide/#snake-case-symbols-methods-vars
#   RuboCop Docs: https://docs.rubocop.org/rubocop/cops_naming.html#namingvariablename
#
Naming/VariableName:
  Enabled: true
  EnforcedStyle: snake_case

# 変数名に番号を付与する場合、その間に `_` を入れないこと
#
#   Style Guide: https://rubystyle.guide/#snake-case-symbols-methods-vars-with-numbers
#   RuboCop Docs: https://docs.rubocop.org/rubocop/cops_naming.html#namingvariablenumber
#
Naming/VariableNumber:
  Enabled: true
  EnforcedStyle: normalcase

########################################
# Performance Cops: TODO
########################################

#
#
#   RuboCop Docs:
#


########################################
# Security Cops
#   - RuboCop のデフォルト設定通り、全て有効化する
########################################

# Kernel#eval, Binding#eval の利用を禁止する
#
#   RuboCop Docs: https://docs.rubocop.org/rubocop/cops_security.html#securityeval
#
Security/Eval:
  Enabled: true

# JSON.load の利用を禁止する
#   - JSON[] / JSON.parse のいずれかを利用すること
#
#   RuboCop Docs: https://docs.rubocop.org/rubocop/cops_security.html#securityjsonload
#
Security/JSONLoad:
  Enabled: true

# Marshal.load の利用を禁止する
#
#   RuboCop Docs: https://docs.rubocop.org/rubocop/cops_security.html#securitymarshalload
#
Security/MarshalLoad:
  Enabled: true

# Kernel#open の利用を禁止する
#   - File.open / IO.popen などを利用すること
#
#   RuboCop Docs: https://docs.rubocop.org/rubocop/cops_security.html#securityopen
#
Security/Open:
  Enabled: true

# YAML.load (Psych.load) の利用を禁止する
#   - YAML.safe_load を利用すること
#
#   RuboCop Docs: https://docs.rubocop.org/rubocop/cops_security.html#securityyamlload
#
Security/YAMLLoad:
  Enabled: true


########################################
# Style Cops: TODO
########################################

#
#
#   RuboCop Docs:
#
Style/AsciiComments:
  Enabled: false

#
#
#   RuboCop Docs:
#
Style/Documentation:
  Enabled: false
