name: Check .rubocop.yml for ruby

on:
  pull_request:
    paths:
      - .github/workflows/ruby.yaml
      - ruby/**
  push:
    branches:
      - master
    paths:
      - .github/workflows/ruby.yaml
      - ruby/**

jobs:
  rubocop:
    name: Check .rubocop.yml
    runs-on: ubuntu-latest
    steps:
      - name: Checkout codes
        uses: actions/checkout@v4
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '2.7'
          bundler-cache: true
          working-directory: ./ruby

      - name: Run Rubocop
        run: bundle exec rubocop
        working-directory: ./ruby
